In [1]:
import pandas as pd

In [2]:
list1 = [1, 2, 3, 4, 5]
country1 = ['India', 'USA', 'UK', 'Japan', 'China']
ser1 = pd.Series(list1 , country1)
print(ser1)
print("\n")
list2 = [1, 7, 8, 9, 10]
country2 = ['India', 'Germany', 'France', 'Italy', 'Spain']
ser2 = pd.Series(list2 , country2)
print(ser2)

ser1+ser2

India    1
USA      2
UK       3
Japan    4
China    5
dtype: int64


India       1
Germany     7
France      8
Italy       9
Spain      10
dtype: int64

China      NaN
France     NaN
Germany    NaN
India      2.0
Italy      NaN
Japan      NaN
Spain      NaN
UK         NaN
USA        NaN
dtype: float64

In [13]:
ser1 = [1,2,3,4]
names1 = ["Mehul", "Harsh", "Ashay", "Aditya"]

panda1 = pd.Series(names1,ser1)
print(panda1)

ser2 = [1,3,2,5]
names2 = ["Mehul", "Mehul", "Harsh", "Aditya"]
panda2 = pd.Series(names2, ser2)
print(panda2)
print("\n")
print(panda1+panda2)

1     Mehul
2     Harsh
3     Ashay
4    Aditya
dtype: object
1     Mehul
3     Mehul
2     Harsh
5    Aditya
dtype: object


1    MehulMehul
2    HarshHarsh
3    AshayMehul
4           NaN
5           NaN
dtype: object